#pic1{
   float: left;
   border: 5px solid red;
   border-radius: 25px;
   background: #73AD21;
   padding: 20px;  
}

#video1{
   float: right;
}

h2{
   font-size: 60px;
   font-family: "passionate one";
   color: #8044ce;
   font-weight: bold;
}
